<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change file page</title>
    <style type="text/css">
        body{
        margin:0;
        padding:0;
        background: url(https://look.com.ua/pic/201209/1400x1050/look.com.ua-28283.jpg);
        }
        .header{
        background-color: YellowGreen;
        padding:10px;
        }
        table{
        margin:20px;
        }
    </style>
</head>
<body>
    <div align="center">
        <div class="header">
            <h1>Change your file</h1>
        </div>
        <form  th:action="@{/change_file}"  method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td th:text="${success}"></td>
                    <td th:text="${error}"></td>
                </tr>
                <tr>
                    <td>Choose file:
                        <select name="theme">
                            <th:block th:each="string : ${strings}">
                                <option th:value="${string}"><h3 th:text="${string}"></h3></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input name="action" type="submit" value="Choose"/></td>
                </tr>
            </table>
            <table >
                <tr>
                    <td>File name: </td>
                    <td><h4 th:text="${fileName}"/></td>
                </tr>
                <tr>
                    <td>New file name: </td>
                    <td><input type="text" name="newFileName" th:text="${errorFileName}" /></td>
                </tr>
                <tr>
                    <td>Level for privacy: </td>
                    <td><h4 th:text="${level}"/></td>
                </tr>
                <tr>
                    <td>New Level: </td>
                    <td>
                        <select name="newLevel">
                            <option th:value="_"><h3> Not change </h3></option>
                            <option th:value="0"><h3> All can see </h3></option>
                            <option th:value="1"><h3> Only I can see </h3></option>
                            <option th:value="2"><h3> Choose, who can see </h3></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td><input name="action" type="submit" value="Commit"/></td>
                </tr>
            </table>
            <table border="solid">
                <tr>
                    <td>Click <a th:href="@{/hello_all}">HOME</a> to return to home page</td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>