<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Download page</title>
    <style type="text/css">
        body{
        margin:0;
        padding:0;
        background: url(https://look.com.ua/pic/201209/1400x1050/look.com.ua-28283.jpg);
        }
        .header{
        border-radius: 20px;
        background-color: YellowGreen;
        padding:10px;
        }
        table{
        margin:20px;
        }
        a:hover{
        color: DarkGreen;
        }
        input:hover{
        background-color: YellowGreen;
        }
        .error{
        color: red;
        }
    </style>
</head>
<body>
    <div align="center">
        <div class="header">
            <h1>Download your file</h1>
        </div>

        <form  th:action="@{/download}"  method="POST">
            <table>
                <tr>
                    <td th:text="${success}"></td>
                    <td class="error" th:text="${error}"></td>
                </tr>
                <tr>
                    <td>Choose file:
                        <select name="theme">
                            <th:block th:each="string : ${strings}">
                                <option th:value="${string}"><h3 th:text="${string}"></h3></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input name="action" type="submit" value="Download"/></td>
                </tr>
            </table>
            <table border="solid">
                <tr>
                    <td>Click <a th:href="@{/hello_all}">HOME</a> to return to home page</td>
                </tr>
            </table>

        </form >
    </div>
</body>
</html>