<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Download page</title>
</head>
<body>
<h1>Download your file</h1>
<form  th:action="@{/download}"  method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td th:text="${success}">...</td>
            <td th:text="${error}">...</td>
        </tr>
        <tr>
            <td>Choose file:
                <select name="theme">
                    <th:block th:each="string : ${strings}">
                        <option th:value="${string}"><h3 th:text="${string}"></h3></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Download"/></td>
        </tr>
        <tr>
            <td>Click <a th:href="@{/hello_all}">HOME</a> to return to home page</td>
        </tr>
    </table>

</form>
</body>
</html>