<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form action="#" th:action="@{/login}"  method="post">
    <table>
        <tr>
            <td>Login : </td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><button type="submit">Sign In</button></td>
        </tr>
    </table>
    <div><p>Click <a th:href="@{/registration}">REGISTRATION</a> to get registration</p></div>
</form>
</body>
</html>