body{
        margin:0;
        padding:0;
        background: url(https://look.com.ua/pic/201209/1400x1050/look.com.ua-28283.jpg);
}
table{
        margin: 30px;
        }
.header{
    border-radius: 20px;
        background-color: YellowGreen;
        padding:10px;
}
a:hover{
            color: DarkGreen;
        }
input:hover, button:hover{
           background-color: YellowGreen;
}
.error{
        color: red;
        }
