<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload Done</title>
</head>
<body>
    <div align="center">
        <h1>File have been uploaded successfully!</h1>
        <div><p>Click <a th:href="@{/Upload}">UPLOAD PAGE</a> to load more files</p></div>
        <div><p> </p></div>
        <div><p>Click <a th:href="@{/hello_all}">YOUR PAGE</a> to return to your page</p></div>
    </div>
</body>
</html>