<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload Your File</title>
</head>
<body>
<div align="center">
    <h1>Upload Your File</h1>
    <form th:action="@{/Upload}"  method="POST" enctype="multipart/form-data">
        <table border="0">
            <tr>
                <td>Pick file:</td>
                <td><input type="file" name="file"  /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>